// Import Bootstrap SCSS
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css";

// Variables
$primary-color: #f8f9fa;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9f9;
$dark-color: #343a40;
$body-bg: #f5f5f5;
$body-color: #212529;

// Mixins
@mixin gradient-bg($start-color, $end-color) {
  background: linear-gradient(to right, $start-color, $end-color);
}

// Global Styles
body {
  background-color: $body-bg;
  color: $body-color;
  font-family: "Roboto", sans-serif;

  // Nested styles for links within the body
  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.text-uppercase {
  text-transform: uppercase;
}

// Buttons
.btn {
  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
    }
  }

  &.gradient-custom-4 {
    @include gradient-bg(#ff4b2b, #ff416c);
    border: none;
    color: white;

    &:hover {
      @include gradient-bg(darken(#ff4b2b, 10%), darken(#ff416c, 10%));
    }
  }

  &.btn-update-profile,
  &.btn-login {
    @include gradient-bg($info-color, $success-color);
    border: none;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;

    &:hover {
      @include gradient-bg(
        darken($info-color, 10%),
        darken($success-color, 10%)
      );
    }
  }
}

// Cards
.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  // Nested styles for card headers and bodies
  .card-header {
    background-color: $secondary-color;
    color: $light-color;
    padding: 1rem;
  }

  .card-body {
    padding: 1.5rem;
  }
}

// Utility Classes
// .d-flex {
//   display: flex !important;

//   // Nested styles for flex properties
//   .justify-content-center {
//     justify-content: center !important;
//   }

//   .align-items-center {
//     align-items: center !important;
//   }
// }

// .mt-5 {
//   margin-top: 3rem !important;
// }

// .vh-100 {
//   height: 100vh !important;
// }

// .h-100 {
//   height: 100% !important;
// }

// .bg-image {
//   background-size: cover;
//   background-position: center center;
// }

// Form Styles
.form-control {
  border-radius: 0.25rem;
}

input[type="file"] {
  border: 1px solid $body-color;
  padding: 0.375rem 0.75rem;
}

// Custom Components
#profileInfo {
  p {
    margin-bottom: 0.5rem;
  }
}

#profilePhoto {
  border-radius: 50%;
}

// Gradient Backgrounds
.gradient-custom-3 {
  @include gradient-bg(#fbc2eb, #a6c1ee);
}

.gradient-custom-4 {
  @include gradient-bg(#f093fb, #f5576c);
}
